$ff_main: 'Raleway', sans-serif;
$ff_second: 'Open sans', sans-serif;

$mobile: 579px;
$tablet-small: 768px;
$tablet: 1023px;
$tablet-big: 1280px;
$laptop-small: 1440px;
$laptop-middle: 1600x;
$laptop: 1920px;

$colWidth: 8.333333333333333%;

//colors
$color-gray: #C8CADC;

//Brand palette
$color-white: #ffffff;
$color-black: #232323;
$color-text: #2d3033;
$color-blue-white: #505369;
$color-gray: #6c7279;
$color-dark-gray: #66697e;

//error
$color-red: #e84545;



